<div class="container mt-5">
<h2>Ajouter un article</h2>
<%= render 'form', article: @article %>

<hr>
<%= link_to articles_path do %>
<i class="fa-solid fa-arrow-rotate-left"></i> Retour
<% end %>
</div>
