<h1>Votre booking</h1>
<div class="container mt-5">
<h2>booking</h2>
<%= render 'form', booking: @booking %>

<hr>
<%#= link_to "Retour", bookings_path %>
<%# <i class="fa-solid fa-arrow-rotate-left"></i> Retour %>

</div>
