<div class="banner">
  <div class="container">
    <h1 data-controller="typed-js"></h1>
    <p>Pourquoi acheter si on peut louer ?</p>
    <%= link_to "Réserver un article !", articles_path, class: "btn btn-primary" %>
  </div>
</div>
